# Compilado
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache

# Dependências
/node_modules

# Ferramentas
/coverage
.eslintcache

# Ambiente
.env
.env.local

# Editores
.idea/
.vscode/
*.launch
.settings/

# Sistema
.DS_Store
Thumbs.db
npm-debug.log*
